# Add files here to ignore them from prettier formatting

# Build and build configuration
/main.js
.github
.octopus
.husky

# Markdown files
CHANGELOG.md

# Thirdparty libraries
/node_modules/

# SQL Files
/db/
/accounts/
/migration/
